
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(5, 40px);
    grid-gap: 5px;

    background-image: linear-gradient(#b7b7b7 #9c9c9c);
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    margin: 15px auto;
    padding: 20px;
    border-radius: 5px;
}

#display {
    padding: 10px;
    font-size: 1.4rem;
    text-align: right;
    background-image: linear-gradient(#5c5c5c #0e0e0e);
    margin-bottom: 15px;
    box-shadow: inset 3px 2px 0 white;

    grid-column: 1 / -1;
}

button {
    padding: .25rem;
}

.zero {
    background-color: #adadad;
    grid-column: 1 / span 2;
}

.mais {
    background-color: #adadad;
    grid-row: 5 / 7;
    grid-column: 4 / 5;
}